[data-element-id="grid-root"] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

[data-element-id="grid"] {
  width: 100%;
	height: 100%;
}

[data-element-id="grid"] > .container {
  height: 100%;
}

[data-element-id="grid"] > .container > .row {
  height: 100%;
}

[data-element-id="grid"] [class*="col-"] {
  position: relative;
  height: 100%;
  background-color: rgba(76, 199, 142, 0.2);
}

[data-element-id="grid"] [class*="col-"] > div {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: rgba(76, 199, 142, 0.2);
  opacity: 0.5;
}

[data-element-id="breakpoint-helpers"] {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1000001;
  background-color: rgb(76, 199, 142);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  transition: all 0.2s ease 0s;
}

[data-element-id="grid-form"] {
	position: fixed;
  bottom: 50px;
  left: 10px;
	z-index: 1000001;
}

[data-element-id="grid-form"] input {
	width: 35px;
}